@page
@model ServiceHost.Pages.ChangePasswordModel
@inject _0_Framework.Application.IAuthHelper AuthHelper
@{
    ViewData["Title"] = "ChangePassword";
}


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">Change Password</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="/Index">HOME</a></li>
                            <li class="active">Change Password </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-12 col-xs-6 col-lg-6">
                                @if (Model.ChangePasswordMessage != null)
                                {
                                    <div class="alert alert-success">@Model.ChangePasswordMessage</div>
                                }
                                @if (Model.ErrorMessage != null)
                                {
                                    <div class="alert alert-danger">@Model.ErrorMessage</div>
                                }
                                <form method="post" asp-page-handler="Login">
                                    <div class="login-form">

                                        <div class="col-12">
                                            <label asp-for="@Model.Command.Password"></label>
                                            <input type="password" asp-for="@Model.Command.Password" placeholder="Password">
                                            <span asp-validation-for="@Model.Command.Password" class="text-danger"></span>
                                        </div>
                                        <div class="col-12">
                                            <label asp-for="@Model.Command.RePassword"></label>
                                            <input type="password" asp-for="@Model.Command.RePassword" placeholder="Confirm Password">
                                            <span asp-validation-for="@Model.Command.RePassword" class="text-danger"></span>
                                        </div>


                                        <div class="col-md-12">
                                            <button class="register-button">Save</button>
                                        </div>


                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
