@page
@model ServiceHost.Areas.Administration.Pages.Accounts.Account.IndexModel
@{
}

@{
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "User Management";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["title"]</h4>
        <p class="pull-left">
            <a class="btn btn-success btn-lg" href="#showmodal=@Url.Page("./Index", "Create")">Create New User</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Search In Users</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" role="form" method="get">
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.Fullname"></label>
                        <input class="form-control" asp-for="SearchModel.Fullname" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.Username"></label>
                        <input class="form-control" asp-for="SearchModel.Username" placeholder="User Name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.Mobile"></label>
                        <input class="form-control" asp-for="SearchModel.Mobile" placeholder="Mobile">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.RoleId"></label>
                        <select class="form-control" asp-for="SearchModel.RoleId" asp-items="Model.Roles">
                            <option value="0">Role...</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">Search</button>
                    <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">View All</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" id="ProductCategoriesDiv">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Users List (@Model.Accounts.Count)</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>User Name</th>
                                    <th>Mobile</th>
                                    <th>Role</th>
                                    <th>Create Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Accounts)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>
                                            <img src="~/ProductPictures/@item.ProfilePhoto" style="width: 70px; height: 70px" />
                                        </td>
                                        <td>@item.Fullname</td>
                                        <td>@item.Username</td>
                                        <td>@item.Mobile</td>
                                        <td>@item.Role</td>
                                        <td>@item.CreationDate</td>
                                        <td>
                                            <a class="btn btn-warning waves-effect waves-light m-b-5"
                                               href="#showmodal=@Url.Page("./Index", "Edit", new { id = item.Id})">
                                                <i class="fa fa-edit"></i> Edit
                                            </a>
                                            <a class="btn btn-primary waves-effect waves-light m-b-5"
                                               href="#showmodal=@Url.Page("./Index", "ChangePassword", new { id = item.Id})">
                                                <i class="fa fa-key"></i> Change Password
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/adminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminTheme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
    </script>
}